@model IEnumerable<ClassProject_Gallery.Models.Artwork>


@{
    ViewData["Title"] = User.Identity.IsAuthenticated ? "Artwork For Sale" : "Artwork For Display";
}

<h1>@ViewData["Title"]</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Autobiography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtworkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtworkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtworkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
